@tailwind base;
@tailwind components;

@import   'partials/fonts.scss',
          'partials/core.scss',
          'partials/buttons.scss',
          'partials/cookies.scss',
          'partials/desktop-nav.scss',
          'partials/forms.scss',
          'partials/mobile-nav.scss',
          'partials/typography.scss';

@tailwind utilities;

//Mapbox imports
@import '../node_modules/leaflet/dist/leaflet.css';

// Custom CSS Here
.pattern-house {
  background-image: url(../images/pattern-house.svg);
}

.bg-blend-multiply {
  background-blend-mode: multiply;
}

.carousel-image {
  opacity: 0;
  transition: all .6s;

  &.active {
      opacity: 1;
  }
}

.profile-container img {
  transition: .3s;
}

.profile-container:hover img {
  transform: translateX(-100%);
}

.modal {
  top: 0;
  left: 0;
  transform: translateY(-100%);

  &.active {
    transform: translateY(0);    
  }
}

.modal-content {
  @apply w-full transition-all duration-300;
  left: 50%;
  transform: translateX(-50%) translateY(-100%);

  &.active {
    transform: translateY(0) translateX(-50%);
  }
}

.flexslider .slides img {
  height: 100% !important;
  @apply object-cover object-center;
}

/* property search form */

.property-search-container {
  
  .property-search-form {
    @apply block;

    .control {
      @apply w-full block p-0 mb-4;
    }

    label {
      @apply m-0 p-0 text-primary-dark text-center;
    }

    @screen sm {
      @apply flex flex-wrap items-center;

      .control {
        @apply w-1/2 p-2;
      }

      label {
        @apply text-left;
      }
    }

    @screen lg {
      .control {
        @apply w-1/5;
      }
    }

  }
}
