<div class="flex flex-wrap items-center justify-center p-4 mb-8 bg-primary-light bg-opacity-20">
  <p class="w-full mb-2 text-xs font-bold text-center lg:w-auto lg:text-base lg:mb-0">{{options.logos_header}}</p>
  {% for logo in options.logos %}
  <img data-src="{{logo.image.url|resize('125')}}" alt="{{logo.name}}" class="mx-1 lazyload max-w-24 lg:max-w-36">
  {% endfor %}
</div>