<div class="w-full">
  <div class="container flex flex-wrap">

    <div class="items-end flex-grow w-full p-4 md:w-1/2 lg:w-2/5">
      <div class="flex flex-col justify-end p-4 bg-gray-100 min-h-64">        
        <p>Sell your home</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi assumenda corporis, deleniti quam voluptate odit esse voluptates sequi nesciunt, tempora nostrum aspernatur expedita, quidem quod. </p>
        <a href="" class="mr-auto btn btn-secondary">Get an instant valuation</a>        
      </div>
    </div>

    <div class="items-end flex-grow w-full p-4 md:w-1/2 lg:w-1/5">
      <div class="flex flex-col justify-end p-4 bg-gray-100 min-h-64">
        <p>Buy your next home</p>
        <a href="" class="mr-auto btn btn-primary">Get an instant valuation</a>
      </div>
    </div>

    <div class="items-end flex-grow w-full p-4 md:w-1/2 lg:w-1/5">
      <div class="flex flex-col justify-end p-4 bg-gray-100 min-h-64">
        <p>How to sell your home</p>
        <a href="" class="mr-auto btn btn-primary">Get an instant valuation</a>
      </div>
    </div>

  </div>
</div>