<div class="flex flex-wrap items-center justify-center mt-8 lg:justify-start">
  <p class="font-bold">Call us today on {% include "_components/phone-number.twig" %}</p>
  <a href="{{site.url}}/contact-us" class="mx-8 mt-4 btn btn-secondary">Get in touch today</a>
</div>