<div
  class="flex-wrap items-center justify-between w-full max-w-xl mx-auto my-8 text-center text-white flex-start lg:text-left lg:flex bg-secondary">

  <img class="hidden object-cover h-full min-h-full lg:block lg:w-2/12 lazyload"
    data-src="{{options.property_placeholder.url}}" alt="{{site.title}} Logo">

  <div class="p-4 px-6 pb-0 lg:w-6/12 lg:px-8 lg:pt-0">
    <p class="mb-4 text-lg font-bold leading-snug lg:my-0 lg:text-xl">Sell with your local experienced estate agent</p>
    <p class="text-sm xl:text-base">Get an accurate market appraisal of your property and find out exactly how much it's worth!</p>
  </div>

  <div class="p-4 px-6 text-center lg:w-4/12">
    <p class="mb-4 font-bold">Call {% include "_components/phone-number.twig" %}</p>

    {# {% include "_components/btn-free-valuation.twig" with {
      classes : "inline-block mx-2 text-xs xl:text-sm btn btn-white text-secondary-dark",
    } %} #}
    <a href="{{site.url}}/instant-valuation" class="inline-block mx-2 text-xs xl:text-sm btn btn-white text-secondary-dark">Get an INSTANT
      online evaluation</a>
  </div>

</div>