<div class="p-4 py-8 mb-8 lg:py-12 bg-primary-light bg-opacity-20">

  <div class="container">

    <h2 class="text-center">Featured properties</h2>
    <p class="max-w-md mx-auto text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Error sint
      molestiae voluptates nam, nesciunt odit. Quam libero laudantium eaque similique quisquam accusamus illo facere,
      amet, sit explicabo esse ipsam? Id?</p>

    <div class="flex flex-wrap justify-center my-8">

      {% include "_components/property-card.twig" %}
      {% include "_components/property-card.twig" %}
      {% include "_components/property-card.twig" %}
      {% include "_components/property-card.twig" %}

    </div>

    <div class="text-center">
      <a href="" class="inline-block mx-auto text-sm btn btn-white">See all properties</a>
    </div>

  </div>

</div>