<div class="p-4 py-8 my-8 lg:py-12 bg-primary-light bg-opacity-20">

  <div class="container">

    <h2 class="text-center">Featured properties</h2>
    <p class="max-w-md mx-auto text-center">View a selection of our featured properties below. We have a huge portfolio available so we're sure you'll find your next dream home right here!</p>

    <div class="flex flex-wrap justify-center my-8">

      {% include "_components/property-card.twig" %}
      {% include "_components/property-card.twig" %}
      {% include "_components/property-card.twig" %}
      {% include "_components/property-card.twig" %}

    </div>

    <div class="text-center">
      <a href="" class="inline-block mx-auto text-sm btn btn-white">See all properties</a>
    </div>

  </div>

</div>