<div class="hero w-full min-h-128 bg-cover bg-center">
    {% set hero_small = post.thumbnail.src|resize('800') %}
    {% set hero_medium = post.thumbnail.src|resize('1200') %}
    {% set hero_large = post.thumbnail.src|resize('2000') %}
    <style>
      .hero {
        background-image: url('{{hero_small}}');
      }
      @media (min-width: 800px) {
        .hero {
          background-image: url('{{hero_medium}}');
        }
      }
      @media (min-width: 1200px) {
        .hero {
          background-image: url('{{hero_large}}');
        }
      }
    </style>
</div>