{% if front_page %}

  

{% else %}

  <div class="relative w-full text-white bg-primary lg:mt-36">
    <div class="container">
      <p class="px-6 text-2xl font-bold text-center {{has_search_bar ? "py-8 lg:p-12 lg:py-16" : "py-8 lg:p-12 lg:py-16 lg:pt-20" }} xl:text-4xl 2xl:text-5xl">{{hero_heading}}</p>
    </div>
    {% include "_components/pattern-house.twig" %}
  </div>

  {% if has_search_bar %}
    {% include "_components/property-search.twig" %}
  {% endif %}

{% endif %}