<div class="w-full mb-4 md:p-4 md:mb-0 md:w-1/2 lg:w-1/3 xl:w-1/4">
  <div class="bg-white">
    <img class="block object-cover w-full bg-gray-500 min-h-64 lazyload" data-src="{{options.property_placeholder.url}}" alt="">
    <div class="p-4 text-sm lg:p-8">
      <p class="font-bold">5 bedroom detached house for sale</p>
      <p>St Stephens Avenue Al3</p>
      <p class="mt-8 leading-snug">Offers over <span class="block text-xl font-bold">£1,700,000</span></p>
      <hr class="my-8">
      <div class="flex flex-wrap mb-8 text-center">
        <div class="w-1/3">{{function('icon', 'bed', 'text-4xl')}}<span class="block text-sm">5 Bedrooms</span>
        </div>
        <div class="w-1/3">{{function('icon', 'bath', 'text-4xl')}}<span class="block text-sm">3 Bathrooms</span>
        </div>
        <div class="w-1/3">{{function('icon', 'sofa', 'text-4xl')}}<span class="block text-sm">2 Living rooms</span>
        </div>
      </div>
      <div class="text-center">
        <a href="#" class="inline-block mx-auto btn btn-primary">View this property</a>
      </div>
    </div>
  </div>
</div>