<div class="w-full max-w-xl p-4 pt-6 mx-auto bg-white rounded-lg lg:p-8 lg:pt-16 property-search-container">
  <p class="mb-4 text-xl font-bold text-center text-secondary">Search for your next home&hellip;</p>

  {{ function('do_shortcode', '[property_search_form id="default"]')}}

</div>