{% extends 'base.twig' %}

{% block hero %}
  {% include "_components/hero.twig" with {
    hero_heading : "Help & Advice Centre",
    has_search_bar : post.meta('has_search_bar'),
  } %}
{% endblock %}

{% block page_content %}

<div class="relative max-w-xl p-6 mx-auto mb-8 text-center text-white xl:p-8 bg-primary-dark 2xl:p-16">
  <p class="font-bold lg:text-xl">Search our help &amp; advice centre</p>
  <p class="text-sm">Start typing to display results.</p>
  
  {{ function("get_search_form")}}

  <p class="mt-4 text-xs 2xl:mt-6 lg:text-sm"><span class="block lg:inline-block">Popular categories:</span> <a class="font-bold" href="{{site.url}}/help-advice-categories/sales">Sales</a>, <a class="font-bold" href="{{site.url}}/help-advice-categories/lettings">Lettings</a>, <a class="font-bold" href="{{site.url}}/help-advice-categories/mortgages">Mortgages</a></p>

  {% include "_components/pattern-house.twig" %}
</div>


<div class="container flex flex-wrap p-0 2xl:py-12">

  {% for post in posts[0:2] %}
  
    {% include "_components/help-advice-card.twig" with {
      featured: true
    } %}
  
  {% endfor %}

</div>

<div class="my-8 bg-primary-light bg-opacity-20">
  
  <div class="container flex-wrap p-0 lg:py-8 lg:flex">

    <main class="flex-wrap sm:flex lg:w-3/4 lg:pr-16">

      {% for post in posts[2:] %}
      
        {% include "_components/help-advice-card.twig" %}
      
      {% endfor %}

      {% include "_components/pagination.twig" %}
    
    </main>
    
    <aside class="pt-4 lg:w-1/4">
    
      {% include "_components/sidebar.twig" with {
          help_advice_categories : help_advice_categories,
          cta_padding : 'p-8 xl:p-16',
        } %}
    </aside>

  </div>

</div>

{% include "_components/buckets.twig" %}

{% endblock %}
