{% extends 'base.twig' %}

{% block hero %}
  {% include "_components/hero.twig" with {
    hero_heading : "Help & Advice Centre",
    has_search_bar : post.meta('has_search_bar'),
  } %}
{% endblock %}

{% block page_content %}

<div class="max-w-xl p-6 mx-auto mb-8 text-center text-white xl:p-8 bg-primary-dark 2xl:p-16">
  <p class="font-bold lg:text-xl">Search our help &amp; advice centre</p>
  <p class="text-sm">Start typing to display results.</p>
  
  {{ function("get_search_form")}}

  <p class="mt-4 text-xs 2xl:mt-6 lg:text-sm"><span class="block lg:inline-block">Popular categories:</span> <a class="font-bold" href="{{site.url}}/help-advice-categories/sales">Sales</a>, <a class="font-bold" href="{{site.url}}/help-advice-categories/lettings">Lettings</a>, <a class="font-bold" href="{{site.url}}/help-advice-categories/mortgages">Mortgages</a></p>
</div>

<div class="container flex-wrap flex-grow lg:flex">

  <main class="flex-wrap md:flex lg:w-3/4 lg:pr-16">
  
    {% for post in posts %}
  
      {% include "_components/help-advice-card.twig" %}
  
    {% endfor %}
  
  </main>
  
  <aside class="lg:w-1/4">
  
    {% include "_components/sidebar.twig" with {
        index : true,
        help_advice_categories : help_advice_categories,
        categories : categories,
        archives : archives
      } %}
  </aside>

</div>

{% endblock %}
