{% extends 'base.twig' %}

{% block header %}
  {% include "_components/header.twig"  with {
    front_page: true,
  }%}
{% endblock %}


{% block hero %}

  {% include "_components/hero.twig" with {
    front_page : true,
    top_line : post.meta('hero_top_line'),
    middle_line : post.meta('hero_middle_line'),
    main_line : post.meta('hero_main_line'),
  } %}  

{% endblock %}

{% block page_content %}

  <main class="container text-center">
  
    <article class="max-w-lg py-12 lg:py-24 md:mx-auto md:text-lg">
  
      <h1 class="mb-8 font-normal">{{post.meta('h1') ? post.meta('h1') : post.title}}</h1>
  
      {{post.content}}

      <a href="{{site.url}}/buy-a-home" class="inline-block mt-12 btn btn-primary">Search for your next home</a>
  
    </article>
  
  </main>

  <div class="w-full bg-gray-500 min-h-50">

  </div>

  <div class="container flex flex-wrap py-12 lg:py-24 lg:justify-between">

    <div class="w-full bg-red-100 lg:w-5/12 min-h-50">
      
    </div>

    <div class="w-full bg-red-100 lg:w-5/12 min-h-50">
    
    </div>

  </div>
  
{% endblock %}

{% block footer %}
  
  {% include "_components/footer.twig" %}

{% endblock %}
