{% extends 'base.twig' %}

{% block hero %}
  {% include "_components/hero.twig" with {
    front_page : true,
    top_line : post.meta('hero_top_line'),
    middle_line : post.meta('hero_middle_line'),
    main_line : post.meta('hero_main_line'),
  } %}

  {% include "_components/accreditations.twig" with {
  	classes : 'mb-8',
  }%}

{% endblock %}


{% block page_content %}
  
  {% include "_components/testimonials.twig" with {
    classes : 'border-b border-gray-200 pt-0 mb-8',
  } %}
  {% include "_components/property-search.twig" %}
  {% include "_components/featured-properties.twig" %}
  {% include "_components/buckets.twig" %}


  <div class="container flex-wrap flex-grow lg:my-8 xl:my-24 lg:flex lg:px-8 2xl:px-40">
    
    <main class="mb-8 lg:w-1/2 lg:pr-16 lg:mb-0">

      <article class="copy">

        <h1>{{post.meta('h1') ? post.meta('h1') : post.title}}</h1>

        {{post.content}}
        
      </article>

      {% include "_components/cta-bottom.twig" %}

    </main>

    <aside class="items-center lg:w-1/2 lg:flex">
      {% include "_components/sidebar.twig" with {
        cta_padding : 'p-8 xl:p-16 2xl:p-24',
        front_page: true,
      } %}
    </aside>

  </div>
  
  {% include "_components/team.twig" %}
  
{% endblock %}

{% block footer %}
  {% include "_components/footer.twig" %}
{% endblock %}
