{% extends 'base.twig' %}

{% block page_content %}

<div class="container flex-wrap flex-grow lg:flex">

  <main class="lg:w-2/3 lg:pr-16">
    
    {% for post in posts %}

      <article class="copy">

        <h1>{{post.title}}</h1>

        {{post.content}}

        <a href="{{ function("get_permalink", post.ID)}}">Read More</a>

      </article>  

    {% endfor %}        

  </main>

  <aside class="bg-gray-100 lg:w-1/3">
    {% include "_components/sidebar.twig" with {
      index : true,
      categories : categories,
      archives : archives
    } %}
  </aside>

</div>

{% endblock %}
