/***********************************************************
Buttons ***************************************************/
input[type="button"],
button,
.btn {
  @apply rounded py-2 px-4 rounded-full transition duration-300;
}

.btn-primary {
  @apply bg-primary text-white;

  &:hover {
    @apply bg-primary-dark;
  }
}

.btn-outline-white {
  @apply border-2 border-white text-white;

  &:hover {
    @apply bg-white text-black;
  }
}

.btn-outline-black {
  @apply border-2 border-black text-black;

  &:hover {
    @apply bg-black text-white;
  }
}
