/***********************************************************
Desktop Navs **********************************************/

@screen lg {
  .menu-primary,
  .menu-secondary {

    li {
      @apply relative;
    }

    a {
      @apply
        relative
        block
        p-4;

        &:hover {
          @apply
            bg-gray-600
            text-blue-500;

          & + .sub-menu {
            @apply
              block
              opacity-100
              visible;
          }
        }
    }

    .icon-angle-down {
        position: absolute;
        bottom: 2px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        width: .9em;
        height: .9em;
        opacity: .5;
    }

    .current-menu-item a,
    .current-menu-parent a {
      @apply
        text-white
        bg-gray-800;

        &:hover {
          @apply text-white;
        }
    }

    .sub-menu {
      @apply
        w-full
        absolute
        top-full
        left-0
        z-50
        opacity-0
        hidden
        bg-white;

        &:hover {
          @apply
            block
            opacity-100
            visible;
        }
    }
  }
}