/***********************************************************
Desktop Navs **********************************************/

@screen lg {
  .menu-primary {

    li {
      @apply relative;
    }

    a {
      @apply
        relative
        block
        p-2
        text-sm
        rounded-full;

        &:hover {
          @apply
            bg-gray-100;

          & + .sub-menu {
            @apply
              block
              opacity-100
              visible;
          }
        }
    }

    .icon-angle-down {
        position: absolute;
        bottom: 2px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        width: .9em;
        height: .9em;
        opacity: .5;
    }

    .current-menu-item > a,
    .current-menu-parent > a {
      @apply
        text-secondary;

        &:hover {
          @apply text-secondary;
        }
    }

    .sub-menu {
      @apply
        w-64
        absolute
        top-full
        left-0
        z-50
        opacity-0
        hidden;

        &:hover {
          @apply
            block
            opacity-100
            visible;
        }

        a {
          @apply bg-white rounded-full px-4;
        }
    }
  }
}

@screen xl {
  .menu-primary {
    a {
      @apply p-3;
    }
  }
}

@screen 2xl {
  .menu-primary {
    a {
      @apply text-base;
    }
  }
}