/***********************************************************
Desktop Navs **********************************************/

@screen lg {
  .menu-primary {

    li {
      @apply relative;
    }

    a {
      @apply
        relative
        block
        p-2
        text-sm
        text-white;

        &:hover {
          @apply text-primary-light;
            

          & + .sub-menu {
            @apply
              block
              opacity-100
              visible;
          }
        }
    }

    .icon-angle-down {
        position: absolute;
        bottom: -2px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        width: .9em;
        height: .9em;
        opacity: .5;
    }

    .current-menu-item > a,
    .current-menu-parent > a,
    .current_page_parent > a {
      @apply
        text-primary-light;

        &:hover {
          @apply text-primary-light;
        }
    }

    .sub-menu {
      @apply
        w-64
        absolute
        top-full
        left-0
        z-50
        opacity-0
        hidden;

        &:hover {
          @apply
            block
            opacity-100
            visible;
        }

        a {
          @apply text-white px-4 bg-primary-darkest border-b border-white;

          
          &:hover {
            @apply text-primary-light;
          }
        }

        li:last-of-type a {
          @apply border-none;
        }
    }
  }
}

@screen xl {
  .menu-primary {
    a {
      @apply p-3;
    }
  }
}

@screen 2xl {
  .menu-primary {
    a {
      @apply text-base;
    }
  }
}