// --------------------------------------------------------------------------------------------------
// Base Form Styles
// --------------------------------------------------------------------------------------------------
label {
    @apply block my-4 font-bold text-secondary;
}

input,
textarea,
select {
    @apply
    rounded-sm
    p-2
    w-full
    text-sm
    shadow-inner
    border border-gray-300
    text-primary-dark;

    &[aria-invalid="true"] {
        background-color: #f3e2e2;
    }
}

select {
    background-position: 90% center;
    background-repeat: no-repeat;
    background-size: 12px;
    -webkit-appearance: none;
    background-color: #fff;
}

textarea {
    height: 150px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    @apply text-gray-500;
}

input[type="button"],
input[type="submit"],
button {
    @apply
    bg-secondary
    text-white
    font-bold
    outline-none
    cursor-pointer;
    transition: .3s;
    
    &:hover {
        @apply
        bg-secondary-dark;
    }
}

// --------------------------------------------------------------------------------------------------
// CF7
// --------------------------------------------------------------------------------------------------

.wpcf7-form .wpcf7-not-valid-tip {
    @apply text-sm font-bold mt-2 text-right;
}

.wpcf7-form.invalid .wpcf7-response-output,
.wpcf7-form.failed .wpcf7-response-output {
    @apply border-0 font-bold p-0 mt-4 text-red-600;
}


