// --------------------------------------------------------------------------------------------------
// Base Form Styles
// --------------------------------------------------------------------------------------------------

input,
textarea,
select {
    @apply
    rounded-sm
    p-2
    w-full
    shadow-inner
    text-gray-900;

    &[aria-invalid="true"] {
        background-color: #f3e2e2;
    }
}

select {
    background-image: url(../images/angle-down-light.svg);
    background-position: 90% center;
    background-repeat: no-repeat;
    background-size: 12px;
    -webkit-appearance: none;
    background-color: #fff;
}

textarea {
    height: 150px;
    border-radius: 25px;
}

// The below placeholder selectors don't work when comma separated
input::-webkit-input-placeholder {
    @apply text-gray-700;
}
input::-ms-input-placeholder {
    @apply text-gray-700;
}
input::-moz-placeholder {
    @apply text-gray-700;
}
input::placeholder {
    @apply text-gray-700;
}

textarea::-webkit-input-placeholder {
    @apply text-gray-700;
}
textarea::-ms-input-placeholder {
    @apply text-gray-700;
}
textarea::-moz-placeholder {
    @apply text-gray-700;
}
textarea::placeholder {
    @apply text-gray-700;
}

input[type="button"],
input[type="submit"],
button {
    @apply
    bg-secondary
    text-white
    max-w-xs
    mx-auto
    outline-none
    cursor-pointer;
    transition: .3s;
    
    &:hover {
        @apply
        bg-secondary-dark;
    }
}

#nf-field-4-wrap {
    @apply text-center;
}

// --------------------------------------------------------------------------------------------------
// Ninja Forms
// --------------------------------------------------------------------------------------------------
.nf-form-layout {
    input,
    select,
    textarea {
        @apply 
            border
            border-gray-400
            rounded-sm
            outline-none
            mb-4;
    }

    input[type="submit"],
    input[type="button"] {
        @apply border-none rounded-sm;
    }
}

// nf-field {
//     @apply
//     float-left
//     mb-3
//     w-full;

//     &:last-child {
//         @apply mb-0;
//     }
// }

.nf-form-fields-required,
.nf-after-field,
.nf-after-form-content {
    display: none;
}

.nf-field-label {
    @apply sr-only;
}

.hide-labels label {
    display: none;
}

