<div class="flex flex-col gap-2 justify-center items-center mt-8">
  <p class="font-bold">Call us today on
    {% if hitchin %}
      <a href="tel:01462690525" class="inline-block font-bold" onclick="gtag('event', 'Phone Call', {'event_category': 'Phone Call', 'event_label': 'Phone call click to call'});">01462 690525</a>
    {% else %}
      {% include "_components/phone-number.twig" %}
    {% endif %}
  </p>
  <a href="{{site.url}}/sell-your-home/free-sales-valuations/" class="btn btn-secondary">Get a free property valuation</a>
</div>