<div class="fixed z-50 w-full h-screen transition bg-black opacity-50 modal modal-overlay"></div>

<div class="absolute z-50 w-full max-w-sm p-4 transition modal modal-content">

  <div class="w-full p-6 pt-10 overflow-y-scroll text-center bg-white">

    {{function('icon', 'times', 'cursor-pointer modal-close absolute top-8 right-12 font-bold text-lg text-gray-900')}}
    
    <p class="mb-2 text-lg font-bold leading-snug lg:text-xl">Get a <span class="text-secondary">FREE</span> property valuation</p>
    <p class="text-sm">Complete the form below and we'll get back to you to organise your <span>FREE</span> property valuation.</p>
    {{ function('do_shortcode', '[contact-form-7 id="237" title="Property Valuation Form"]') }}
  </div>
  
</div>