<a href="tel:{{options.default_phone_number}}" class="inline-block font-bold {{classes ? classes}}" onclick="gtag('event', 'Phone Call', {'event_category': 'Phone Call', 'event_label': 'Phone call click to call'});">
  {{options.default_phone_number}}
</a>