{% extends 'base.twig' %}

{% block hero %}

{% include "_components/hero.twig" with {
    hero_heading : post.meta('hero_heading')|default(post.title),
    has_search_bar : post.meta('has_search_bar'),
    has_accreditations : true,
} %}

{% endblock %}

{% block page_content %}

{# {{dump(featured_properties)}} #}

    {% if posts.pagination.current < 2 %}
        {% include "_components/featured-properties.twig" with {
            hide_see_all : true
        } %}
    {% endif %}


    {{ function('propertyhive_result_count') }}
    {{ function('propertyhive_catalog_ordering') }}

    <div class="container flex flex-wrap">
        
        {% if properties %}        

            {% for property in properties %}
            
                {% include "_components/property-card.twig" with {
                    image : property.thumbnail,
                    title : property.post_title,
                    street : property._address_street,
                    price : property._price_actual,
                    price_qualifier : property.price_qualifier,
                    link: property.link,
                    bedrooms : property._bedrooms,
                    bathrooms : property._bathrooms,
                    reception_rooms : property._reception_rooms,
                    }
                %}
            
            {% endfor %}
            
            {% include "_components/pagination.twig" %}

        {% else %}

            <p>No properties found</p>

        {% endif %}


    </div>      
       

{% endblock %}